.navbar_link {
    color: white !important;
}

#footer {
    width: 100%;
    color: white !important;
    background-color: #262626;
    position: absolute;
    bottom: 0;
}

#weather_head {
    width: 100%;
    position: absolute;
    margin: 0;
    padding-bottom: 0;
    display: inline;
    background-color: gainsboro;
}

.header_info{
    padding: 1rem;
}

#cards_container {
    padding-top: 2rem;
    margin-top: 2rem;
    margin-bottom: 7rem;
    position: relative;
    width: 14rem;
    height: 45rem;
    overflow-y: scroll;
}