@media (max-width: 900px) {
    #central_container {
        padding-top: 7rem !important;
        display: block !important;
    }
    #cards_container {
        width: 100% !important;
        height: 100% !important
    }
    #left_container {
        padding-top: 5% !important;
    }
    .card {
        width: 100% !important;
    }
    #input_article {
        width: 100%;
        padding-right: 25%;
        padding-left: 15%;
        padding-bottom: 3%;
        float:none !important;
        padding-top: 30%;
        vertical-align: middle;
    }
}

.navbar_link {
    color: white !important;
}

#footer {
    width: 100%;
    color: white !important;
    background-color: #262626;
    position: absolute;
    bottom: 0.2;
}

#weather_head {
    width: 100%;
    position: absolute;
    left: 0.1% !important;
    margin: 0;
    padding-bottom: 0;
    display: inline;
    background-color: gainsboro;
}

.header_info{
    padding: 1rem;
}

#cards_container {
    padding-right: 0;
    padding-left: 0.5%;
    position: relative;
    width: 150%;
    height: 80vmin;
    overflow-y: scroll;
}

#central_container {
    padding-bottom: 5%;
    padding-top: 3%;
    overflow-y: scroll;
    display: inline-flex;
    width: auto;
}

#left_container {
    float: left;
    vertical-align: middle;
    padding-top: 25%;
    padding-left: 3%;
    padding-right: 3%;
}

#main_subtitle {
    display: inline !important;
    color: grey;
    font-size: small;
}

#source_news {
    padding-left: 3rem;
}

.navbar_link.nav-link.active {
    text-decoration: underline !important;
}

#input_article {
    width: 80%;
    padding-right: 25%;
    padding-left: 15%;
    float:left;
    padding-top: 25%;
    vertical-align: middle;
}